<div class="content">
  <form (ngSubmit)="createBoard()" #boardForm="ngForm">
    <div class="form-row">
      <div class="col mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control form-control-sm" id="name" name="name"
               [(ngModel)]="createBoardData.Name" #name="ngModel" required />
        <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="error">
          Name is required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col mb-3">
        <label for="dateOfCreation">Date of Creation</label>
        <input type="date" class="form-control form-control-sm" id="dateOfCreation" name="dateOfCreation"
               [(ngModel)]="createBoardData.DateOfCreation" #dateOfCreation="ngModel" required />
        <div *ngIf="dateOfCreation.errors?.['required'] && (dateOfCreation.dirty || dateOfCreation.touched)" class="error">
          Date of Creation is required.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col mb-3 text-end">
        <button type="submit" class="btn btn-sm btn-success m-1"
                [disabled]="boardForm.invalid">
          Save
        </button>
        <button type="button" class="btn btn-sm btn-danger m-1" (click)="cancelEditBoard()">Cancel</button>
      </div>
    </div>
  </form>
</div>
