<div class="container">
  <div class="sidebar">
    <div class="brand">
      <p>BUGTRACKER</p>
    </div>
    <nav>
      <a routerLink="/boards">BOARDS</a>
      <a routerLink="/employees">EMPLOYEES</a>
      <a routerLink="/quests">FILES</a>
      <a routerLink="/login">LOGOUT</a>
    </nav>
  </div>
  <div class="content">
    <form (ngSubmit)="createBoard()" #boardForm="ngForm">
      <div>
        <label for="Name">Name</label>
        <input type="text" id="Name" name="Name" required [(ngModel)]="createBoardData.Name" #name="ngModel">
        <div *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="error">
          Name is required.
        </div>
      </div>
      <div>
        <label for="DateOfCreation">DateOfCreation</label>
        <input type="date" id="DateOfCreation" name="DateOfCreation" [(ngModel)]="createBoardData.DateOfCreation" #dateOfCreation="ngModel">
      </div>
      <button class="btn" type="submit" [disabled]="boardForm.invalid">Add Board</button>
    </form>
  </div>
</div>
