./Logs/
./BugTracker/bin/
./BugTracker/obj/
./BugTracker/obj/Debug/net6.0/ref/BugTracker.dll
./BugTracker/obj/Debug/net6.0/refint/BugTracker.dll
./BugTracker/obj/Debug/net6.0/BugTracker.csproj.CoreCompileInputs.cache
./BugTracker/obj/Debug/net6.0/BugTracker.dll
./BugTracker/obj/Debug/net6.0/BugTracker.pdb
./BugTracker/bin/Debug/net6.0/appsettings.json
./BugTracker/bin/Debug/net6.0/BugTracker.pdb
./BugTracker/bin/Debug/net6.0/BugTracker.dll
./.vs/ProjectEvaluation/bugtracker.metadata.v5.2
./.vs/ProjectEvaluation/bugtracker.projects.v5.2
./.vs/BugTracker/v17/.futdcache.v2
./.vs/BugTracker/v17/.suo
*.txt
./.vs/BugTracker/FileContentIndex/1e273cc1-0fe9-4e63-853a-63ff7185b250.vsidx
./.vs/BugTracker/FileContentIndex/2d639afc-afa1-4625-b977-2dd5d14429c3.vsidx
./.vs/BugTracker/FileContentIndex/3413e91d-61ff-4684-8fc8-74862efff15b.vsidx
./.vs/BugTracker/FileContentIndex/3c7dec34-0daf-4dd1-bf80-b35ca3a7e3cf.vsidx
./.vs/BugTracker/FileContentIndex/41b309af-235f-461f-aa9e-2625f21dd07c.vsidx
./.vs/BugTracker/FileContentIndex/82967565-76bd-48d3-b240-6d2564585b72.vsidx
./.vs/BugTracker/FileContentIndex/b0c03e38-06bc-42cc-b796-1ed0291afb0c.vsidx
./.vs/BugTracker/FileContentIndex/da27cf0c-d85c-4fef-9bce-fd9b876a0304.vsidx
./.vs/BugTracker/DesignTimeBuild/.dtbcache.v2
