<div class="container">
  <div class="sidebar">
    <div class="brand">
      <p>BUGTRACKER</p>
    </div>
    <nav>
      <a routerLink="/boards">BOARDS</a>
      <a routerLink="/employees">EMPLOYEES</a>
      <a routerLink="/quests">TASKS</a>
    </nav>
  </div>
  <div class="content">
    <div class="search">
      <input type="text" placeholder="..." [(ngModel)]="searchPhrase" />
      <button class="search-button" (click)="search()">Search</button>
    </div>
    <button class="reset-view" (click)="resetView()">Reset View</button>
    <div *ngIf="!noResultsMessage" class="board-list">
      <table class="board-table">
        <thead>
          <tr>
            <th>Board</th>
            <th>Date of Creation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let board of boards">
            <td>{{ board.name }}</td>
            <td>{{ board.dateOfCreation | date:'dd/MM/yyyy' }}</td>
            <td class="actions">
              <button (click)="showDetails(board.id)">Details</button>
              <button (click)="editBoard(board)">Edit</button>
              <button (click)="removeBoard(board)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="noResultsMessage" class="error-message">{{ noResultsMessage }}</div>
    <div class="pagination" *ngIf="totalPages > 0">
      <button class="previous-page" (click)="previousPage()">&#171;&#171;</button>
      <div class="page-dropdown">
        <button class="current-page">{{ pageNumber }}</button>
      </div>
      <button class="next-page" (click)="nextPage()">&#187;&#187;</button>
      <div class="records-per-page">
        <label for="recordsPerPage">Records per page:</label>
        <select id="recordsPerPage" (change)="onPageSizeChange($event)" [(ngModel)]="pageSize">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
        </select>
      </div>
    </div>
  </div>
</div>
