<h3>My Tasks</h3>
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Priority</th>
      <th scope="col">Logged Time</th>
      <th scope="col">Story Points</th>
      <th scope="col">Assignee</th>
      <th scope="col">Assigner</th>
      <th scope="col">Proposal Date</th>
      <th scope="col">Task Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let task of tasks">
      <tr (click)="showDescription(task.id)">
        <td>{{task.name}}</td>
        <td>{{taskCategoriesMap.get(task.category)}}</td>
        <td>{{taskPrioritiesMap.get(task.priority)}}</td>
        <td>{{task.loggedTime}}</td>
        <td>{{task.storyPoints}}</td>
        <td>{{task.assignee.fullName}}</td>
        <td>{{task.assigner.fullName}}</td>
        <td>{{ task.proposalDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{taskStatusesMap.get(task.status)}}</td>
        <td class="actions">
          <button type="button" class="btn btn-primary btn-sm" (click)="editQuest(task.boardId, task.id)">Edit</button>
          <button type="button" class="btn btn-dark btn-sm m-1" (click)="goBoards()">Boards</button>
        </td>
      </tr>
      <tr class="collapse" [class.show]="indexDescription == task.id">
        <td colspan="10">
          <table class="table mb-0">
            <thead>
              <tr><th scope="col">Description</th></tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  {{task.description}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<div class="pagination">
  <button class="previous-page" (click)="previousPage()">&#171;&#171;</button>
  <div class="page-dropdown">
    <button class="current-page">{{ pageNumber }}</button>
  </div>
  <button class="next-page" (click)="nextPage()">&#187;&#187;</button>
  <div class="records-per-page">
    <label for="recordsPerPage">Records per page:</label>
    <select id="recordsPerPage" [(ngModel)]="pageSize" (change)="updatePage()">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
  </div>
</div>
