<div class="container">
  <div class="sidebar">
    <div class="brand">
      <p>BUGTRACKER</p>
    </div>
    <nav>
      <a routerLink="/login">LOGIN</a>
      <a routerLink="/register">REGISTER</a>
      <a routerLink="/change-password">CHANGE PASSWORD</a>
    </nav>
  </div>
  <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
    <div>
      <label for="employeeEmail">Email</label>
      <input type="email" id="employeeEmail" [(ngModel)]="changePasswordData.EmployeeEmail" name="employeeEmail" required>
    </div>
    <div>
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" [(ngModel)]="changePasswordData.CurrentPasswordHash" name="currentPassword" required>
    </div>
    <div>
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" [(ngModel)]="changePasswordData.NewPasswordHash" name="newPassword" required>
    </div>

    <button class="btn" type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
  </form>
</div>
