<div class="content">
  <div class="search row align-items-center mb-3">
    <div class="col-6">
      <input type="text" class="form-control form-control-sm" [(ngModel)]="searchPhrase" />
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary btn-sm search-button mt-2 mb-2" (click)="searchBoard()">Search</button>
      <button class="btn btn-outline-secondary btn-sm reset-button mt-2 mb-2" (click)="resetSearch()">Reset</button>
    </div>
  </div>
  <button *ngIf="!noResultsMessage" class="btn btn-success btn-sm add-board mb-5" (click)="addBoard()">New Board</button>
  <div *ngIf="!noResultsMessage" class="board-list">
    <table class="table table-sm board-table">
      <thead>
        <tr>
          <th>Board</th>
          <th>Date of Creation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let board of boards">
          <td (click)="showBoardDetails(board)">{{ board.name }}</td>
          <td>{{ board.dateOfCreation | date:'dd/MM/yyyy' }}</td>
          <td class="actions">
            <button class="btn btn-primary btn-sm" (click)="showBoardDetails(board)">Details</button>
            <button class="btn btn-dark btn-sm m-1" (click)="editBoard(board.id)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="removeBoard(board.id)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="noResultsMessage" class="error-message">{{ noResultsMessage }}</div>
  <div class="pagination" *ngIf="totalPages > 0">
    <button class="btn btn-sm previous-page" (click)="previousPage()">&#171;&#171;</button>
    <div class="page-dropdown">
      <button class="btn btn-sm current-page">{{ pageNumber }}</button>
    </div>
    <button class="btn btn-sm next-page" (click)="nextPage()">&#187;&#187;</button>
    <div class="records-per-page">
      <label for="recordsPerPage">Records per page:</label>
      <select id="recordsPerPage" class="form-control form-control-sm" (change)="onPageSizeChange($event)" [(ngModel)]="pageSize">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
</div>
