<div *ngIf="boardDetails">
  <h2>{{ boardDetails.name }}</h2>
  <div class="row align-items-center">
    <div class="col-6">
      <input type="text" class="form-control form-control-sm" [(ngModel)]="searchPhrase" />
    </div>
    <div class="col-6">
      <button class="btn btn-outline-primary btn-sm" (click)="searchQuest()">Search</button>
    </div>
  </div>
  <div class="row mt-2 mb-2">
    <div class="col">
      <button type="button" class="btn btn-success btn-sm" 
              *ngIf="!noResultsMessage" (click)="addQuest()">Add New Task</button>
    </div>
  </div>

  <table *ngIf="!noResultsMessage" class="table table-sm table-striped">
    <thead *ngIf="filteredQuests.length === 0 || noResultsMessage !== ''">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Logged Time</th>
        <th scope="col">Story Points</th>
        <th scope="col">Assignee</th>
        <th scope="col">Assigner</th>
        <th scope="col">Proposal Date</th>
        <th scope="col">Task Status</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="filteredQuests.length === 0 && noResultsMessage === ''">
      <tr *ngFor="let task of boardDetails.boardTasks">
        <td>{{ task.name }}</td>
        <td>{{ taskCategoriesMap.get(task.category) }}</td>
        <td>{{ taskPrioritiesMap.get(task.priority) }}</td>
        <td>{{ task.loggedTime }}</td>
        <td>{{ task.storyPoints }}</td>
        <td>{{ task.assignee.firstName }} {{ task.assignee.lastName }}</td>
        <td>{{ task.assigner.firstName }} {{ task.assigner.lastName }}</td>
        <td>{{ task.proposalDate }}</td>
        <td>{{ taskStatusesMap.get(task.taskStatus) }}</td>
        <td>{{ task.description }}</td>
        <td class="actions">
          <button type="button" class="btn btn-primary btn-sm" (click)="editQuest(task.id)">Edit</button>
          <button type="button" class="btn btn-danger btn-sm m-1" (click)="removeQuest(task.id)">Remove</button>
          <button type="button" class="btn btn-dark btn-sm m-1" (click)="showComments(task.id)">Comments</button>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-sm table-striped" *ngIf="filteredQuests.length > 0">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Logged Time</th>
        <th scope="col">Story Points</th>
        <th scope="col">Assignee</th>
        <th scope="col">Assigner</th>
        <th scope="col">Proposal Date</th>
        <th scope="col">Task Status</th>
        <th scope="col">Description</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of filteredQuests">
        <td>{{ task.name }}</td>
        <td>{{ taskCategoriesMap.get(task.category) }}</td>
        <td>{{ taskPrioritiesMap.get(task.priority) }}</td>
        <td>{{ task.loggedTime }}</td>
        <td>{{ task.storyPoints }}</td>
        <td>{{ task.assignee.firstName }} {{ task.assignee.lastName }}</td>
        <td>{{ task.assigner.firstName }} {{ task.assigner.lastName }}</td>
        <td>{{ task.proposalDate }}</td>
        <td>{{ taskStatusesMap.get(task.taskStatus) }}</td>
        <td>{{ task.description }}</td>
        <td class="actions">
          <button type="button" class="btn btn-primary btn-sm" (click)="editQuest(task.id)">Edit</button>
          <button type="button" class="btn btn-danger btn-sm m-1" (click)="removeQuest(task.id)">Remove</button>
          <button type="button" class="btn btn-dark btn-sm m-1" (click)="showComments(task.id)">Comments</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="noResultsMessage" class="error-message">{{ noResultsMessage }}</div>
<div *ngIf="!noResultsMessage" class="pagination">
  <button class="previous-page" (click)="previousPage()">&#171;&#171;</button>
  <div class="page-dropdown">
    <button class="current-page">{{ pageNumber }}</button>
  </div>
    <button class="next-page" (click)="nextPage()">&#187;&#187;</button>
    <div class="records-per-page">
      <label for="recordsPerPage">Records per page:</label>
      <select id="recordsPerPage" [(ngModel)]="pageSize" (change)="updatePage()">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
      </select>
    </div>
  </div>
