<div class="container">
  <div class="sidebar">
    <div class="brand">
      <p>BUGTRACKER</p>
    </div>
    <nav>
      <a routerLink="/boards">BOARDS</a>
      <a routerLink="/employees">EMPLOYEES</a>
      <a routerLink="/quests">FILES</a>
      <a routerLink="/login">LOGOUT</a>
    </nav>
  </div>
  <div class="content">
    <form>
      <label for="boardName">Enter new name:</label>
      <input type="text" id="boardName" [(ngModel)]="updatedBoard.Name" name="boardName">
      <button (click)="updateBoard()">Update</button>
    </form>
  </div>
</div>
