<div class="content">
  <h3>{{ task.name }}</h3>
  <div class="row" *ngFor="let comment of taskComments">
    <div class="col mb-3">
      <div class="task-comment-container">
        <div class="task-comment-header">
          <span>{{ comment.userCreated?.firstName ?? '' }} {{ comment.userCreated?.lastName ?? '' }}</span>
          <span>{{ comment.dateOfCreation | date: "yyyy-MM-dd hh:mm" }}</span>
        </div>
        <div class="task-comment-body">{{ comment.description }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <h5>Add new comment</h5>
      <form (ngSubmit)="addComment()" #commentForm="ngForm">
        <div class="form-row">
          <div class="col mb-3">
            <textarea class="form-control form-control-sm"
                      rows="4"
                      maxlength="500"
                      name="comment"
                      id="comment" [(ngModel)]="taskComment.description"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3 text-end">
            <button type="submit" class="btn btn-sm btn-success m-1"
                    [disabled]="commentForm.invalid">Add</button>
            <button type="button" class="btn btn-sm btn-danger m-1" (click)="cancelComments()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
