<div class="content">
  <h3>{{ task.name }}</h3>
  <div class="row" *ngFor="let comment of taskComments">
    <div class="col mb-3">
      <div class="task-comment-container">
        <div class="task-comment-header">
          <span>{{ comment.userCreated?.firstName ?? '' }} {{ comment.userCreated?.lastName ?? '' }}</span>
          <span>{{ comment.dateOfCreation | date: "yyyy-MM-dd hh:mm" }}</span>
        </div>
        <div class="task-comment-body">
          <div>
            {{ comment.description }}
          </div>
        </div>
        <div class="task-comment-footer">
          <div>
            <button class="btn btn-primary btn-sm"  (click)="editComment(comment.id)">Edit</button>
          </div>
          <div>
            <app-task-image *ngIf="comment.fileName" [boardId]="boardId" [comment]="comment"></app-task-image>
            <div *ngIf="comment.fileName">
              <p>{{ comment.fileName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <ng-template [ngIf]="editMode" [ngIfElse]="addModeTitle">
        <h5>Edit comment</h5>
      </ng-template>
      <ng-template #addModeTitle>
        <h5>Add new comment</h5>
      </ng-template>
      <form (ngSubmit)="addComment()" #commentForm="ngForm">
        <div class="form-row">
          <div class="col mb-3">
            <textarea class="form-control form-control-sm"
                      rows="4"
                      maxlength="500"
                      name="comment"
                      id="comment" [(ngModel)]="taskComment.description"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3">
            <div class="input-group">
              <input class="form-control form-control-sm" type="file"
                     (change)="onFileSelected($event)" #fileUpload />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col mb-3 text-start">
            <ng-template [ngIf]="editMode" [ngIfElse]="addMode">
              <div>
                <button type="submit" class="btn btn-sm btn-success m-1"
                        [disabled]="commentForm.invalid">
                  Save
                </button>
                <button type="button" class="btn btn-sm btn-danger m-1" (click)="cancelEdit()">Cancel</button>
              </div>
            </ng-template>
            <ng-template #addMode>
              <div>
                <button type="submit" class="btn btn-sm btn-success m-1"
                        [disabled]="commentForm.invalid">
                  Add
                </button>
                <button type="button" class="btn btn-sm btn-danger m-1" (click)="cancelComments()">Cancel</button>
              </div>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
